In [1]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [3]:
pd.__version__

'1.4.2'

In [18]:
df1=pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [19]:
df1.describe

<bound method NDFrame.describe of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee
0                         2.5         0.00
1                         2.5         0.00
2                         2.5         0.00
3                         0.0         1.25
4                         2.5         0.00
...                       ...          ...
3066761                   NaN          NaN
3066762                   NaN          NaN
3066763                   NaN          NaN
3066764                   NaN          NaN
3066765                   NaN          NaN

[3066766 rows x 19 columns]>

In [21]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [29]:
df1['duration']=df1.tpep_dropoff_datetime-df1.tpep_pickup_datetime
df1.duration=df1.duration.apply(lambda td: td.total_seconds()/60)
df1.duration.describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [30]:
pre_count = df1.shape[0]
df1 = df1[(df1.duration >= 1) & (df1.duration <= 60 )]
post_count = df1.shape[0]
pre_count - post_count

57593

In [32]:
(3066766-57593)/3066766

0.9812202822125979